body{
    width: 1100px;
    margin: 0 auto;
}
.otvet{
    display: flex;
    justify-content: center;
    position: relative;
    top: 900px;
    font-size: 100px;
}
body{
    background-color: cornflowerblue;

   
}
    